<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col-md-6" style="text-align:center;">
      <h3>Liso Mbiza - Address Book</h3>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-8">
      <span (click)="addAddressBook()" class="btn btn-primary btn-xs">Add Address Book</span>
      <br /><br />   
      <!-- <div class="table-responsive">
        <div class="search-container">        
          <input id="searchText" type="text" placeholder="Search.." name="searchText" [(ngModel)]="model.searchText" ng-value="searchText">
          <button type="submit" (click)="searchAddressBook(searchText)">Submit</button>        
        </div>
      </div>      -->
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Address Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Mobile Number</th>
            <th>Home Number</th>            
            <th>Office Number</th>            
            <th>Email Address</th>            
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of addressBookList">
              <td>{{item.addressBookId}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>
              <td>{{item.mobileNumber}}</td>              
              <td>{{item.homeNumber}}</td> 
              <td>{{item.officeNumber}}</td> 
              <td>{{item.emailAddress}}</td> 
              <td><span class="btn btn-primary btn-xs" (click)="editAddressBook(item.addressBookId)">
                  <span class="glyphicon glyphicon-pencil"></span></span></td>
              <td><span class="btn btn-danger btn-xs" (click)="deleteAddressBook(item.addressBookId, item.firstName)">
                  <span class="glyphicon glyphicon-trash"></span></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>